<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  <!-- spring 적용시 -->
  <link rel="stylesheet" href="/style/productStyle.css">
  <!-- vscode 적용시 (최종본에서는 삭제 필요) -->
  <link rel="stylesheet" href="/static/style/productStyle.css">
  <title>TECHSUPP</title>
</head>
<body>
  <!-- 헤더 -->
  <header class="Header">헤더 생성은 스크립트로</header> 
  <!-- 상품 정렬 검색 -->
  <div class="ContainerProductSort">컨테이너 생성은 스크립트로</div>
  <div class="ContainerProduct">
    <div class="ContainerPictureInvestmentAmountInformation">
      <!-- 제품 사진 / 투자액 / 제품 상세설명 -->
      <div>
        <!-- 이미지 태그 필요함 (일단은 div로 보여줌)-->
        <!-- <img src="" alt=""> -->
        <div class="ProductPicture">
          사진
        </div>
        <div class="ProductInvestmentAmount">
          목표 투자액
        </div>
        <div class="ProductInformation">
          제품 상세 설명
        </div>
      </div>
    </div>
    <div class="ContainerNameLimitDatePrecentageInvesting">
      <!-- 제품명 / 투자 마감일 / 투자율 / 개인 투자 금액(결제 페이지로 이동) -->
      <div class="ProductNameWish">
        <span>제품명</span>
        <button>즐겨찾기</button>
      </div>
      <div class="ProductLimitDate">
        투자 마감일
      </div>
      <div class="ProductPercentage">
        투자율
      </div>
      <div class="ProductInvesting">
        개인 투자 금액(투자 결제 페이지 이동)
      </div>
    </div>
  </div>
  <!-- 스크립트 -->
  <!-- spring 경로 -->
    <script type="text/javascript" src="/script/productMain.js"></script>
  <!-- header 생성 스크립트 -->
    <script type="text/javascript" src="/script/createHeader.js"></script>
  <!-- productSort 생성 스크립트 -->
    <script type="text/javascript" src="/script/createContainerProductSort.js"></script>

    <!-- vscode 스크립트 경로 -->
  <!-- header 생성 스크립트 -->
  <script type="text/javascript" src="/static/script/createHeader.js"></script>
  <!-- productSort 생성 스크립트 -->
  <script type="text/javascript" src="/static/script/createContainerProductSort.js"></script>
</body>
</html>