<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  <!-- spring 적용시 -->
  <link rel="stylesheet" href="/style/productStyle.css">
  <!-- vscode 적용시 (최종본에서는 삭제 필요) -->
  <link rel="stylesheet" href="/static/style/productStyle.css">
  
  <title>TECHSUPP</title>
</head>
<body>
  <!-- 헤더 -->
  <header class="Header">헤더 생성은 스크립트로</header> 
  
  
  <!-- 스크립트 -->
  <!-- spring 경로 -->
  <script type="text/javascript" src="/script/createHeader.js"></script>
  <!-- vscode 경로 -->
  <!-- header 생성 스크립트 -->
  <script type="text/javascript" src="/static/script/createHeader.js"></script>
  
<footer>
  footer
</footer>
</body>
</html>