<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  <!-- spring 적용시 -->
  <!-- <link rel="stylesheet" href="/style/feedbackStyle.css"> -->
  <!-- vscode 적용시 -->
  <link rel="stylesheet" href="/static/style/feedbackStyle.css">
  <title>TECHSUPP</title>
</head>
<body>
  <!-- 헤더 -->
  <header class="Header">헤더 생성은 스크립트로</header> 
  <article class="FeedbackContent">
    <div class="FeedbackListPicture">
      <h2>제품 사진</h2>
    </div>
    <div class="FeebackListInformation">
      <div class="FeedbackListName-FeedbackListInformation">
        <h2>제품 제목</h2>
        <h3>제품 설명</h3>
      </div>
      <div class="FeedbackListScore-LimitDate-SuccesStatus">
        <h3>상품 점수</h3>
        <h3>투자 마감일</h3>
        <h3>투자성공여부</h3>
      </div>
    </div>
  </article>
  <div class="FeedbackGotoWrite">
    <input type="button" value="후기 작성하러 가기">
  </div>
  <div class="FeedbackWritenByUserList">
    <article class="FeedbackWritenByUser">
      <div class="FeedbackPictureByUser">
        <h3>투자 제품 수령 사진(고객 업로드)</h3>
      </div>
      <div class="FeedbackScore-FeedbackUser">
        <h3>고객 점수</h3>
        <h3>고객 아이디</h3>
      </div>
      <div class="FeedbackText">
        <h3>피드백 텍스트</h3>
      </div>
    </article>
    <article class="FeedbackWritenByUser">
      <div class="FeedbackPictureByUser">
        <h3>투자 제품 수령 사진(고객 업로드)</h3>
      </div>
      <div class="FeedbackScore-FeedbackUser">
        <h3>고객 점수</h3>
        <h3>고객 아이디</h3>
      </div>
      <div class="FeedbackText">
        <h3>피드백 텍스트</h3>
      </div>
    </article>
    <article class="FeedbackWritenByUser">
      <div class="FeedbackPictureByUser">
        <h3>투자 제품 수령 사진(고객 업로드)</h3>
      </div>
      <div class="FeedbackScore-FeedbackUser">
        <h3>고객 점수</h3>
        <h3>고객 아이디</h3>
      </div>
      <div class="FeedbackText">
        <h3>피드백 텍스트</h3>
      </div>
    </article>
    <article class="FeedbackWritenByUser">
      <div class="FeedbackPictureByUser">
        <h3>투자 제품 수령 사진(고객 업로드)</h3>
      </div>
      <div class="FeedbackScore-FeedbackUser">
        <h3>고객 점수</h3>
        <h3>고객 아이디</h3>
      </div>
      <div class="FeedbackText">
        <h3>피드백 텍스트</h3>
      </div>
    </article>
  </div>  

<script type="text/javascript" src="/script/productScript.js"></script>
  <!-- vscode 스크립트 경로 -->
  <!-- header 생성 스크립트 -->
  <script type="text/javascript" src="/static/script/createHeader.js"></script>

  <footer>
    footer
  </footer>
</body>
</html>