<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  <!-- spring 적용시 -->
  <!-- <link rel="stylesheet" href="/style/feedbackStyle.css"> -->
  <!-- vscode 적용시 -->
  <link rel="stylesheet" href="/static/style/feedbackStyle.css">
  <title>TECHSUPP</title>
</head>
<body>
  <!-- 헤더 -->
  <header class="Header">헤더 생성은 스크립트로</header> 
  <!-- 정렬 검색 -->
  <div class="ContainerFeedbackSort">정렬 / 검색 생성은 스크립트로  </div>
  <div class="ContainerFeedbackList">리스트 생성은 스크립트로 </div>
  
  <div class="PagingContainer">페이징 생성은 스크립트로  </div>


<!-- 스크립트 -->
<!-- spring 경로 -->
<!-- 헤더 생성 -->
<script type="text/javascript" src="/script/createHeader.js"></script>
<!-- sort/search 생성 -->
<script type="text/javascript" src="/script/createContainerFeedbackContentSort.js"></script>
<!-- feedbackContent 생성 -->
<script type="text/javascript" src="/script/createFeedbackContent.js"></script>
<!-- 생성된 feedbackContent에 이벤트 추가 -->
<script type="text/javascript" src="/script/feedbackLinkOnClick.js"></script>
<!-- 페이징 생성 -->
<script type="text/javascript" src="/script/createPaging.js"></script>  


<!-- vscode 경로 -->
<!-- 헤더 생성 -->
<script type="text/javascript" src="/static/script/createHeader.js"></script>
<!-- sort/search 생성 -->
<script type="text/javascript" src="/static/script/createContainerFeedbackContentSort.js"></script>
<!-- feedbackContent 생성 -->
<script type="text/javascript" src="/static/script/createFeedbackContent.js"></script>
<!-- 생성된 feedbackContent에 이벤트 추가 -->
<script type="text/javascript" src="/static/script/feedbackLinkOnClick.js"></script>
<!-- 페이징 생성 -->
<script type="text/javascript" src="/static/script/createPaging.js"></script>  

  <footer>
    footer
  </footer>
</body>
</html>